.name-box {
    display: flex;
    align-items: center;
    position: absolute;
    background-color: #FFD2C4;
    width:180px;
    height: 38px;
    padding: 10px 10px;
    padding-bottom: 20px;
    top: 845px;
    left: 85px;
}

.name-box__img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.name-box__online {
    background-color: #FFD2C4;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    position: absolute;
    left: 38px;
    top: 35px;
}

.dot {
    width: 10px;
    height: 10px;
    background-color: #43b483;
    border-radius: 50%;
    position: absolute;
    left: 2px;
    top: 2px;
}

.hide-img {
    display: none;
}